<!DOCTYPE html>
<html>
<head>
	<title>Homer's Web Page</title>
	<meta charset="utf-8" />
	<link href="../images/homer-simpson-icon-256.png" rel="shortcut icon"/>
</head>
<style>
body{
		background-image: url("../images/homer_webpage.gif");
		background-size: cover;
		overflow: hidden;
	}
</style>
<body>

</body>

</html>
