<!DOCTYPE html>
<html>
<head>
	<title>Elsa's Homepage</title>
	<meta charset="utf-8" />
	<link href="../images/bell.png" rel="shortcut icon"/>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="fonts/owfont-master/css/owfont-regular.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<link href="../styles/homepage.css" rel="stylesheet" type="text/css">
	<script defer src="../scripts/homepage.js" type="text/javascript"></script>
	<script defer src="../scripts/skycons.js" type="text/javascript"></script>
</head>
<body>

	<div id="container" class="noselect">
		<div id="settings">Settings</div>
		<div id="weather-container">
			<!-- <i id="icon"></i> -->
			<canvas id="icon" height="50px" width="50px">
			</canvas>
			<span id="temp"></span>
			<div id="location"></div>
		</div>
		<div id="time" class="center"><span id="time-portion"></span><span id="ampm-portion"></span></div>		
		<div id="greeting" class="center"></div>
		<div id="form">
		<form>
			<input id="icon-size" type="text" name="icon-size" placeholder="Weather icon size">
			<input id="temp-size" type="text" name="temp-size" placeholder="Temperature size">
			<input id="loc-size" type="text" name="loc-size" placeholder="Location size">
		</form>
		<button id="button">Apply</button>
		</div>
		<img id="brian" src="images/brian.gif">
		<img id="jesus" src="images/dancing_jesus.gif">
	</div>

</body>

</html>
