body{
	font-family: 'Open Sans', sans-serif;
	color: white;
	overflow: hidden;
}

#overlay{
	width: 15%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: rgba(0, 55, 124, 0.75);
	padding: 1%;
}

.date{
	font-size: 22px;
	margin-bottom: 2%;
	color: #7fa7e2;
}

#time{
	font-size: 44px;
	margin-bottom: 8%;
}

#weather{
	width: 100%;
	text-align: left;
	margin-bottom: 8%;
}

.weather-header{
	font-size: 22px;
	padding: 0px;
	color: #7fa7e2;
}

.weather-temp{
	font-size: 20px;
}

#calendar-header{
	font-size: 22px;
	margin-bottom: 8%;
	color: #7fa7e2;
}

#next-event{
	margin-left: 5%;
	font-size: 20px;
}

#event-time{
	color: #7fa7e2;
}

.bg.hidden{
	height: 100vh;
	width: 100vw;
	top: 0px;
	bottom: 0px;
	left: 100vw;
	right: 0px;
	position: fixed;
	background-size: 100% 100%;
	/*opacity: 0;*/
	transition: left 1s ease-in-out;
}

/*.bg.active{
	opacity: 1;
	transition: opacity transform .6s ease-in-out;
}*/

/*.hidden{
	display: none;
	transform: translateX(-10000px);
}*/

#settings{
	top: 2vh;
	right: 2vw;
	position: absolute;
	color: #7fa7e2;
	cursor: pointer;
	font-size: 14px;
}

.auth{
	visibility: hidden;
}

#signin{
	bottom: 10vh;
	right: 10vw;
	position: absolute;
}

#signout{
	bottom: 10vh;
	right: 2vw;
	position: absolute;
}

#hourly-forecasts{
	position: absolute;
	width: 100%;
	height: 20%;
	top: 30%;
	left: 15%;
}

.hourly-forecast{
	display: inline-block;
	width: 10%;
	text-align: center;
}

#hourly-forecast-all-0{
	transition: opacity 1s ease-in 1s;
	opacity: 0;
}

#hourly-forecast-all-1{
	transition: opacity 1s ease-in 2s; 
	opacity: 0;
}

#hourly-forecast-all-2{
	transition: opacity 1s ease-in 3s;
	opacity: 0;
}

#hourly-forecast-all-3{
	transition: opacity 1s ease-in 4s;
	opacity: 0;
}

#hourly-forecast-all-4{
	transition: opacity 1s ease-in 5s;
	opacity: 0;
}

#hourly-forecast-all-5{
	transition: opacity 1s ease-in 11s;
	opacity: 0;
}

.hourly-time{
	font-size: 32px;
	color: rgba(255, 255, 255, 0.5);
}

.hourly-temp{
	font-size: 60px;
	color: rgba(255, 255, 255, 0.75);
}

#hourly-forecast-0,#hourly-forecast-1,#hourly-forecast-2,#hourly-forecast-3,#hourly-forecast-4{
	border-right: 2px dotted white;
}

.hourly-precip{
	font-size: 28px;
	color: rgba(255, 255, 255, 0.5);
}

table,tr,th,td{
	/*border: 1px solid black;*/
}